html {
  scroll-behavior: smooth;
  background-color: #cd9777;
}
body {
  margin: 0;
  padding-top: 100px;
  text-align: center;
  font-family: monospace;
  color: black;
}

.navbar {
  overflow: hidden;
  background-color: transparent;
  color: #0000;
  width: 100%;
  top: 0;
  float: none;
  position: fixed;
}

.navbar a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
}

p {
  text-align: center;
  padding-top: 50px;
}

#progress {
  background-color: #8a5a44;
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 50px;
  width: 50px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px;
  cursor: pointer;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #e6b8a2;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: black;
}
