/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


/* Coolors: https://coolors.co/palette/ccd5ae-e9edc9-fefae0-faedcd-d4a373 */
html {
  scroll-behavior: smooth;
  background-color: #ffedd8;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding-top: 100px;
  text-align: center;
  color: black;
}
hr {
  height: 2px;
  border: none;
  box-shadow: 0 0 10px;
}

h1 {
  font-size: 50px;
}

.nadpis{
  margin-bottom: -200px;
}


footer {
  position: absolute;
  width: 100%;
  left:0;
  background-color: #F3D5B5;
}

/* NAVBAR */

header {
  overflow: hidden;
  background-color: transparent;
  color: #0000;
  width: 100%;
  top: 0;
  float: none;
  position: fixed;
  padding-bottom: 15px;
  z-index: 2;
}

header a {
  display: inline-block;
  background: #F5EBE0;
  color: black;
  box-shadow: 0 0 10px #D5BDAF;
  border: 1.5px solid #D5BDAF;
  border-radius: 25px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

header a:hover {
  background: #D5BDAF;
  color: white;
  transition: 0.5s;
}

.main {
  padding: 16px;
  margin-top: 30px;
}

/* LANGUAGE NAME */

h2 {
  display: inline-block;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  margin-top: 250px;
}

/* BLOCK */

#html {
  padding-top: 70px;
}

.card-container {
  display: flex;
    flex-direction: column;
    align-items: center;
}
/* HTML TIPY */
#htmlcard1 ol li {
  line-height: 45px;
}

#htmlcard1 a {
  text-decoration: none;
  color: black;
}

#theme{
  text-decoration: underline;
}

/* LEPŠÍ VERZE KÓDU */

#htmlcard3 p {
  line-height: 37px;
}

/* SAMOSTNÁ KARTA */

.content {
  margin: auto;
  display: none;
  width: 60%;
  height: 550px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.442);
  border-radius: 25px;
  padding: 20px 60px 20px 60px;
  text-align: left;
  margin-bottom: 20px;
}

/* HTML KARTA */

.h-html, .htmlcard, .html-btn {
  border-color: #f6ad88;
  background-color: #f8e3ca;
}

.hr-html {
  background-color: #f6ad88;
}

/* CSS KARTA */
.h-css, .csscard, .css-btn{
  border-color: #8dc8d8;
  background-color: #dceef3;
}

.hr-css {
  background-color: #8dc8d8;
}

/* JS KARTA */
.h-js, .jscard, .js-btn {
  border-color: #ffe566;
  background-color: #fff6cc;
}

.hr-js {
  background-color: #ffe566;
}


/* DOT */

.dots {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 15px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #f8e3ca;
  outline: 1px solid #f6ad88;
  border-radius: 50%;
  display: inline-block;
}

.active {
  background-color: #f6ad88;
}


/*BUTTON*/

button {
  position: relative;
  z-index: 1;
  border: none;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.333);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: 0 10px;
}

.btn {
  align-items: center;
  margin-left: -25px;
  padding-bottom: 40px;
}



/*scroll bar */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #A47148;
  border-radius: 50px;
}


/* SCROLL UP */
#progress {
  background-color: #A47148;
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px;
  cursor: pointer;
  z-index: 3;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #FFEDD8;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: black;
}

/* RESPONSIVE */

@media screen and (max-width: 1600px){
  .htmlcard{
    height: 500px;
  }
  #htmlcard3 p {
    line-height: 35px;
  }
  #htmlcard2 p{
    line-height: 22px;
  }

  #htmlcard1 ol li{
    line-height: 35px;
  }
}