/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html {
  scroll-behavior: smooth;
  background-color: #cd9777;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding-top: 100px;
  text-align: center;
  color: black;
}
hr{
  color: #774936;
}
.navbar {
  overflow: hidden;
  background-color: transparent;
  color: #0000;
  width: 100%;
  top: 0;
  float: none;
  position: fixed;
}

.navbar a {
  display: inline-block;
  background: #E6B8A2;
  color: #774936;
  border-radius: 25px;
  margin-top: 10px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #774936;
  color: #E6B8A2;
}

.main {
  padding: 16px;
  margin-top: 30px;
}

p {
  text-align: center;
  padding-top: 50px;
}
.content{
  margin: auto;
  width: 60%;
  border: 2px solid #8a5a44;
  box-shadow: 0 0 20px #8A5A44;
  border-radius: 25px;
  padding: 20px 60px 20px 60px;
  text-align: left;
  margin-bottom: 200px;
}

#progress {
  background-color: #8a5a44;
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px;
  cursor: pointer;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #e6b8a2;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: black;
}
